h1{
    color: #025125;
    text-align: center;
    font-family: serif;
}
form, h4, p{
    text-align: center;
}
p{
    color: #8b8b8bcc;
    margin-top: 15px;
}
input {
    border-radius: 7px 0px 0px 7px;
    padding: 10px 30px 10px 15px;
    border: solid 1px #8b8b8bcc;
    height: 28px;
}
button {
    border-radius: 0px 7px 7px 0px;
    margin: -5px;
    padding: 10px;
    border: solid 1px #025125;
    height: 50px;
    background-color: #025125;
    color: white
}
body{
    background-color: #fffbf7;

}